@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-raleway: Raleway;
  --font-playfair-display: "Playfair Display";

  /* font sizes */
  --font-size-xs: 9px;
  --font-size-sm: 11px;
  --font-size-base: 12px;
  --font-size-lg: 13px;
  --font-size-xl: 15px;
  --font-size-2xl: 16px;
  --font-size-3xl: 17px;
  --font-size-4xl: 19px;
  --font-size-5xl: 21px;
  --font-size-6xl: 22px;
  --font-size-7xl: 26px;
  --font-size-8xl: 28px;
  --font-size-9xl: 34px;
  --font-size-10xl: 38px;
  --font-size-11xl: 42px;
  --font-size-12xl: 44px;
  --font-size-13xl: 60px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-turquoise: #4ba87d;
  --color-gray-100: #dbdbdb;
  --color-gray-200: #9f9f9f;

  /* border radiuses */
  --br-md: 5px;
}
